<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body >
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript">
        var source, destination;
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('txtSource'));
            new google.maps.places.SearchBox(document.getElementById('txtDestination'));
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
        });

        function GetRoute() {
            var start = new google.maps.LatLng(19.8780, 75.8368);
            var mapOptions = {
                zoom: 7,
                center: start
            };
            map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('dvPanel'));



		   source = document.getElementById("txtSource").value;
            destination = document.getElementById("txtDestination").value;

            var request = {
                origin: source,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });



            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [source],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {
                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                    var distance = response.rows[0].elements[0].distance.text;
                    var duration = response.rows[0].elements[0].duration.text;
                    var dvDistance = document.getElementById("dvDistance");
                    dvDistance.innerHTML = "";
                    dvDistance.innerHTML += "Distance: " + distance + "<br />";
                    dvDistance.innerHTML += "Duration:" + duration;

                } else {
                    alert("Unable to find the distance via road.");
                }
            });
        }
    </script>



<div class="container-fluid">
<div class="row">
   <div class="panel panel-default">
   <div class="panel-heading"  style="text-align:center;font-family:default;background-color: #fff;"><h3><b>&nbsp;Google Direction API</b></h3></div>
   </div>
</div>

<div class="row">
   <div class="container-fluid" >
	   <div class="panel panel-warning">
       <div class="panel-heading"  style="text-align:center;font-family:default;background-color: #fff;"><h3><b>&nbsp;Find Route</b></h3></div>

	   <div class="panel-body">

	     <form>
	  <div class="form-group">
      <label for="source">Starting Point:</label>
      <input type="text" class="form-control" id="txtSource" value="University of Pertroleum and Energy studies, Bidholi, Uttarakhand, India" name="name1">
    </div>
	<div class="form-group">
      <label for="Dest">Destination Point:</label>
      <input type="text" class="form-control" id="txtDestination" value="1454, Sector-2, Rohtak, Haryana, India" name="name2">
    </div>

    <input type="button" onclick="GetRoute()" class="btn btn-success" value="Get Route">


	</form>
</div>
    </div>
	</div>
	</div>
	<div class="col-md-12" >
				<div id="dvDistance"><b>
                </div>

                <div class="col-md-6" id="dvMap" style=" height: 500px">
                </div>

                <div class="col-md-6" id="dvPanel" style="height: 500px;overflow-x: scroll;">
                </div>
				</div>
</div>
</body>
</html>
